<div class="card-body">
  <div class="row">
    <div class='col-md-12 text-center'>
        <h1>Dear <%= @invitation.membership.person.dear_name %>:</h1>
    </div>
  </div>
  <%= render body  %>
  <%= render questions %>
  <div class="row">
    <div class='col-md-12'>
      <p id="unique-notice">Note: if you are <strong>not</strong> <%= @invitation.membership.person.name %>, then please do not proceed. Invitation links are specific to each individual. To request your own invitation link, <%= link_to('go here', invitations_new_path(@event.code)) %>, or contact the Program Coordinator at <a href="mailto:<%= @program_coordinator %>?subject=[<%= @event.code %>] invitation request"><%= @program_coordinator %></a>.</p>
    </div>
  </div>
</div>
